/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: dodgerblue;
  color: #333;

  text-align: center;

}

/* styling headings, uses  css selectors, elements (a), classes, pseudo classes (a:hover) */
h1 {
  margin: 0;
  padding: 20px;

  color: green;
  text-align: center;
}

/*thats the basic styling for the grid */
.container {
  display: grid;
  grid-template-columns: 20vw auto auto;
  width: 100vw;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;


}

/* thats the styling for the divs inside the grid */
.container>div {
  background-color: #f1f1f1;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}